<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 ************************************************************************
 Source Check - component that verifies the integrity of Joomla files
 ************************************************************************
 * @author    Maciej Bednarski (Green Line) <maciek.bednarski@gmail.com>
 * @copyright Copyright (C) 2020 Green Line. All Rights Reserved.
 * @license   GNU General Public License version 3, or later
 * @version   1.0.0
 ************************************************************************
 */
-->
<fieldset
    name="permissions"
    label="JCONFIG_PERMISSIONS_LABEL"
    description="JCONFIG_PERMISSIONS_DESC"
>
    <field
        name="rules"
        type="rules"
        label="JCONFIG_PERMISSIONS_LABEL"
        class="inputbox"
        validate="rules"
        filter="rules"
        component="com_srccheck"
        section="component"
    />
</fieldset>